
<script language="javascript">

  function save_email(email_id)
  {

    $('#save_button_'+email_id).loading_button(true);
    var action = "edit";
    if (email_id == 0 || email_id == undefined)  action = "add";

    $.ajax({
			type: "POST",
			url: '/whowish_word_email/'+action,
			cache: false,
			async: false,
			data: {
				authenticity_token: "<%=form_authenticity_token%>",
				"page_id": $('#page_id_'+email_id).val(),
				"word_id": $('#word_id_'+email_id).val(),
                "content": $('#content_'+email_id).val(),
                "id":email_id
			},
			success: function(data){
                try
                {
                  if (data.ok == true)
                  {
				  	$('#email_'+email_id).removeClass('edited');
                    if (action == "add")
                          $('#block_anchor').before(data.html);
                  }
                  else
                  {
                    alert(data.error_message);
                  }

                } catch (e) {

                }

                $('#save_button_'+email_id).loading_button(false);
			},
            error: function(req, status, e){
                $('#save_button_'+email_id).loading_button(false);
                if (req.status == 0) return;
                alert('Cannot connect to the server. Please try again later.');
            }
		});
  }

  function delete_email(email_id)
  {
    $('#delete_button_'+email_id).loading_button(true);

    $.ajax({
			type: "POST",
			url: '/whowish_word_email/delete',
			cache: false,
			async: false,
			data: {
				authenticity_token: "<%=form_authenticity_token%>",
				"id": email_id
			},
			success: function(data){
                try
                {
                    $('#email_'+email_id).fadeOut(function() {
                        $('#email_'+email_id).remove();
                    });
                } catch (e) {

                }

                $('#delete_button_'+email_id).loading_button(false);
			},
            error: function(req, status, e){
                $('#delete_button_'+email_id).loading_button(false);
                if (req.status == 0) return;
                alert('Cannot connect to the server. Please try again later.');
            }
		});
  }

	$(window).bind('beforeunload', function(){
		if ($('.edited').length > 0)
		{
			return "You have unsaved records. Are you sure you want to exits?";
		}
	});
</script>
<%
	WhowishWordEmail.all().each do |entity|
%>
    <%=render :partial=>"row",:locals=>{:entity=>entity,:is_new=>false}%>
<%
	end
%>
<span id="block_anchor"></span>
<%=render :partial=>"row",:locals=>{:entity=>nil,:is_new=>true}%>