<span id="partial"><%= word_for :text%></span>
<span id="partial_attr"><%= word_for_attr :text%></span>

<span id="partial_with_variables"><%= word_for :text, :number=>5, :name=>"tanin" %></span>
<span id="partial_attr_with_variables"><%= word_for_attr :text, :number=>5, :name=>"tanin"%></span>