<select id="test_select">
	<option value="__whowishWord_______option_value_____value1">__whowishWord_______option_text_____text1</option>
	<option value="__whowishWord_______option_value_____value2">__whowishWord_______option_text_____text2</option>
	<option value="__whowishWord_______option_value_____value3">__whowishWord_______option_text_____text3</option>
	<option value="__whowishWord_______option_value_____value4">__whowishWord_______option_text_____text4</option>
</select>
<script type="text/javascript">
	$.whowishWord();
</script>