body, input, textarea, button, select, option, div, span {
	font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 30px;
}

.Menu {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.Menu > li {
	display: inline-block;
	padding: 10px;
	margin: 0px;
}

.Menu > li.Active {
	border: 1px solid #CCC;
	background-color: #EFEFEF;
}

.Menu > li.Active > a {
	font-weight: bold;
	text-decoration: none;
}

body > form > div {
	display:block;
	margin-left:25px;
	margin-top:25px;
}

body > form > div > span {
	display:block;
	margin-top:5px;
}

body > form > div > div > span {
	display:block;
	margin-top:5px;
}

body > form > div > span > b {
	display:inline-block;
	vertical-align: top;
}