<script language="javascript">

  function save_facebook(id)
  {

    $('#save_button_'+id).loading_button(true);
    var action = "edit";
    if (id == 0 || id == undefined)  action = "add";

    $.ajax({
			type: "POST",
			url: '/whowish_word_facebook/'+action,
			cache: false,
			async: false,
			data: {
				authenticity_token: "<%=form_authenticity_token%>",
				"publish_id": $('#publish_id_'+id).val(),
				"message": $('#message_'+id).val(),
                "name": $('#name_'+id).val(),
                "caption": $('#caption_'+id).val(),
                "description": $('#description_'+id).val(),
                "id":id
			},
			success: function(data){
                try
                {
                  if (data.ok)
                  {
				  	$('#facebook_'+id).removeClass('edited');
                    if (action == "add")
                          $('#block_anchor').before(data.html);
                  }
                  else
                  {
                    alert(data.error_message);
                  }

                } catch (e) {

                }

                $('#save_button_'+id).loading_button(false);
			},
            error: function(req, status, e){
                $('#save_button_'+id).loading_button(false);
                if (req.status == 0) return;
                alert('Cannot connect to the server. Please try again later.');
            }
		});
  }

  function delete_facebook(id)
  {
    $('#delete_button_'+id).loading_button(true);

    $.ajax({
			type: "POST",
			url: '/whowish_word_facebook/delete',
			cache: false,
			async: false,
			data: {
				authenticity_token: "<%=form_authenticity_token%>",
				"id": id
			},
			success: function(data){
                try
                {
                $('#facebook_'+id).fadeOut(function() {
                    $('#facebook_'+id).remove();
                });
                } catch (e) {

                }

                $('#delete_button_'+id).loading_button(false);
			},
            error: function(req, status, e){
                $('#delete_button_'+id).loading_button(false);
                if (req.status == 0) return;
                alert('Cannot connect to the server. Please try again later.');
            }
		});
  }
  
	$(window).bind('beforeunload', function(){
		if ($('.edited').length > 0)
		{
			return "You have unsaved records. Are you sure you want to exits?";
		}
	});
</script>
<%
	WhowishWordFacebook.all().each do |entity|
%>
    <%=render :partial=>"row",:locals=>{:entity=>entity,:is_new=>false}%>
<%
	end
%>
<span id="block_anchor"></span>
<%=render :partial=>"row",:locals=>{:entity=>nil,:is_new=>true}%>