<select id="test_select">
	<option value="__whowishWord__!!!!!option_value!!!!!value1">__whowishWord__!!!!!option_text!!!!!text1</option>
	<option value="__whowishWord__!!!!!option_value!!!!!value2">__whowishWord__!!!!!option_text!!!!!text2</option>
	<option value="__whowishWord__!!!!!option_value!!!!!value3">__whowishWord__!!!!!option_text!!!!!text3</option>
	<option value="__whowishWord__!!!!!option_value!!!!!value4">__whowishWord__!!!!!option_text!!!!!text4</option>
</select>
<script type="text/javascript">
	$.whowishWord();
</script>